
<nav class="nav nav-pills flex-column flex-sm-row" style="border-bottom: black solid 2px; margin-bottom:2px">
  <a class="flex-sm-fill text-sm-center nav-link "   href="/">Accueil</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="/vehicule/show">véhicule (Suzanne) </a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/passage/show">passage (Martin)</a>
  <a class="flex-sm-fill text-sm-center nav-link" href=/benne/show>benne (Alexis C.)</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/decharge/show">décharge (Syntyche)</a>

</nav>
