{% extends 'layout.html' %}

{% block title %}
    <title>Vehicule</title>
{% endblock %}

{% block body %}
    <h3>Ajouter un vehicule</h3>
    <form method="post" action="/vehicule/add">
    <div class="card border-dark mb-3"  style="max-width: 100%;margin: 10px">
                <div class="card-header">
                    <legend> Créer une véhicule</legend>
                </div>
                <div class="card-body">

                <fieldset>
                     <div class="row g-3" style="padding:10px">
                        <div class="col">
                            <label class="col-sm-2 col-form-label" for="type_vehicule">Le type de véhicule</label><br>
                            <select class="form-select" name="type_vehicule" required>
                                <option value="">Sélectionner un type</option>
                                {% for type_vehicule in type_vehicules %}
                                    <option value="{{ type_vehicule.id }}"> {{ type_vehicule.libelle }}</option>
                                {% endfor %}
                            </select>
                        </div>
                     </div>

                    <div class="row g-3" style="padding:10px">
                        <div class="col">
                            <label class="col-sm-2 col-form-label" for="marque">La marque</label><br>
                            <select class="form-select" name="marque" required>
                                <option value="">Sélectionner une marque</option>
                                {% for marque in marques %}
                                    <option value="{{ marque.id }}"> {{ marque.libelle }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                     <div class="row g-3" style="padding:10px">
                        <div class="col">
                            <label class="col-sm-2 col-form-label" for="poid_max">Le poids maximal</label><br>
                            <input id="poid_max" type="number" name="poid_max" value="" required><br>
                        </div>
                     </div>
                     <div class="row g-3" style="padding:10px">
                        <div class="col">
                            <label class="col-sm-2 col-form-label" for="date_achat">La date d'achat</label><br>
                            <input id="date_achat" type="date" name="date_achat" value="" required><br>
                        </div>
                     </div>

                    <input class="btn btn-primary mb-3" type="submit" value="Valider" name="Valider">
                <a class="btn btn-danger mb-3" href="/vehicule/show">Annuler</a>
                </fieldset>
    </form>
{% endblock %}